<configuration>

    <appender name="standard_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %yellow([%thread]) %highlight(%-5level) .%C %highlight(R:%X{request_id:-N/A}) %M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="json_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_version": "${app_version}"}</customFields>
            <includeMdcKeyName>request_id</includeMdcKeyName>
        </encoder>
    </appender>

    <springProfile name="json">
        <root level="INFO">
            <appender-ref ref="json_console"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="standard_console"/>
        </root>
    </springProfile>
</configuration>
